name: Build
on:
  push:
    branches: [main]

jobs:
  build:
    name: Build
    runs-on: macos-13
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2.2.4
        with:
          version: 7.15.0
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: pnpm
      - run: "echo \"GITHUB_ACTIONS: $GITHUB_ACTIONS\""
      - run: "echo \"TURBO_LOG_ORDER: $TURBO_LOG_ORDER\""
      - run: pnpm install
      - run: ./turbo build
